<center>
<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Acronimo_y_nombre_uc3m.png"/>

<img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc-sa.png" width=15%/>
</center>

# Caso práctico: analizar el dataset de revisiones sobre Alexa en Amazon. 


En esta práctica, se pide analizar una colección de reviews de Amazon sobre Alexa. Este dataset puede descargarse desde este [link](#https://www.kaggle.com/datasets/sid321axn/amazon-alexa-reviews) en Kaggle. 

El dataset contiene aproximadamente unos 3000 comentarios de clientes sobre Alexa. Cada comentario incluye un rating (de 1 a 5 estrellas) para indicar el grado de satisfacción sobre el producto.

## Cargar un dataset

In [ ]:
from google.colab import drive
# mount your google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Modifica la siguiente ruta para que indique la localización donde has almacenado el fichero amazon_alexa.tsv:

In [ ]:
PATH = "/content/drive/My Drive/Colab Notebooks/data/alexa/"

In [ ]:
import pandas as pd

df = pd.read_csv(PATH+"amazon_alexa.tsv",  sep='\t', on_bad_lines='skip') 
print('training dataset was loaded ', df.shape)

#show the first rows
df.head()

training dataset was loaded  (3150, 5)

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

Mostramos algunos ejemplos:

In [ ]:
label = 5       # 1, 2, 3, 4, 5
subset = df.loc[df['rating'] == label]
subset.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
5,5,31-Jul-18,Heather Gray Fabric,I received the echo as a gift. I needed anothe...,1

Se pide: 
- Únicamente vamos a trabajar con las columnas: rating y verified_reviews. Renombra estas columnas a Label y Text, respectivamente. 
- El dataset se distribuye en un único fichero. Es necesario crear tres particiones: training, validación y test, con un ratio del 70:10:20. 
- Estudia la distribución de las clases en cada uno de las particiones. Crea un gráfico que muestre estas distribuciones. ¿Cuál es la clase con mayor número de instancias?, ¿y la que menos?, ¿las tres particiones tienen la misma distribución?. 
- Estudia la distribución de los tamaños de los textos (considerando como tamaño el número de tokens). Crea un gráfico que muestre estas distribuciones para cada distribución. Discute sobre estas distribuciones.